nav{
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
}
.aaaa{
    height: 250px;
    width: 1500px;
}
.icondiv {
  display: flex;
  align-items: center;
  padding: auto;
  margin: 0px 500px 0px 0px;
}

